@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: "poppins", sans-serif;
}

:root {
  --bg-color: #0f0716;
  --second-bg-color: #229799;
  --main-color: #623ca8;
  --white-color: #c4b7d4;
  --disabled-color: #fff3;
  --main-gradient-first: #5e33b3;
  --main-gradient-second: #b9a9d9;
  --main-gradient-third: #ffffff;
}
html {
  font-size: 62.5%;
}

body {
  color: var(--white-color);
  cursor: none;
  /* background-attachment: fixed; */
}

.cursor-border {
  position: fixed;
  width: 38px;
  height: 38px;
  border: 2px solid rgb(203, 203, 203);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
  transition: all 0.08s ease;
}

.cursor-dot {
  position: fixed;
  width: 2px;
  height: 2px;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  pointer-events: none;
  z-index: 10000;
  transform: translate(-50%, -50%);
  transition: all 0.08s ease;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: rgba(251, 250, 250, 0.00001);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  background: linear-gradient(
    to right,
    var(--main-gradient-first),
    var(--main-gradient-second)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

nav a {
  font-size: 1.8rem;
  color: var(--white-color);
  font-weight: 500;
  margin-left: 3.5rem;
  transition: 0.5s;
}

nav a:hover {
  color: var(--main-color);
}
nav a:active {
  color: var(--main-color);
}

.menu-icon {
  font-size: 4rem;
  display: none;
}

section {
  /* position: relative;   */
  width: 100%;
  min-height: 100vh;
  padding: 0rem 9% 2rem;
  background: var(--bg-color);
  /* visibility: hidden;
  opacity: 0; */
  overflow: hidden;
}

section.active {
  visibility: visible;
  opacity: 1;
  overflow: auto;
}

.home {
  display: flex;
  align-items: center;
  gap: 5rem;
  background-color: var(--bg-color) !important;
  background: radial-gradient(
      circle at 97% 8%,
      rgba(94, 51, 179, 0.8) 0%,
      rgba(94, 51, 179, 0.8) 1%,
      rgba(94, 51, 179, 0.7) 2%,
      rgba(94, 51, 179, 0.6) 3%,
      rgba(94, 51, 179, 0.5) 4%,
      rgba(94, 51, 179, 0.4) 5%,
      rgba(94, 51, 179, 0.3) 6%,
      rgba(94, 51, 179, 0.2) 7%,
      rgba(94, 51, 179, 0.1) 8%,
      rgba(94, 51, 179, 0.05) 9%,
      rgba(94, 51, 179, 0.01) 10%,
      rgba(94, 51, 179, 0) 11%
    ),
    radial-gradient(
      circle at 73% 59%,
      rgba(94, 51, 179, 0.8) 0%,
      rgba(94, 51, 179, 0.8) 1%,
      rgba(94, 51, 179, 0.7) 2%,
      rgba(94, 51, 179, 0.6) 3%,
      rgba(94, 51, 179, 0.5) 4%,
      rgba(94, 51, 179, 0.4) 5%,
      rgba(94, 51, 179, 0.3) 6%,
      rgba(94, 51, 179, 0.2) 7%,
      rgba(94, 51, 179, 0.1) 8%,
      rgba(94, 51, 179, 0.05) 9%,
      rgba(94, 51, 179, 0.01) 10%,
      rgba(94, 51, 179, 0) 11%
    ),
    radial-gradient(
      circle at 23% 79%,
      rgba(94, 51, 179, 0.8) 0%,
      rgba(94, 51, 179, 0.8) 1%,
      rgba(94, 51, 179, 0.7) 2%,
      rgba(94, 51, 179, 0.6) 3%,
      rgba(94, 51, 179, 0.5) 4%,
      rgba(94, 51, 179, 0.4) 5%,
      rgba(94, 51, 179, 0.3) 6%,
      rgba(94, 51, 179, 0.2) 7%,
      rgba(94, 51, 179, 0.1) 8%,
      rgba(94, 51, 179, 0.05) 9%,
      rgba(94, 51, 179, 0.01) 10%,
      rgba(94, 51, 179, 0) 11%
    );
}

.home-details,
.home-img {
  position: relative;
  top: -8vh;
}

.home-details h1 .span1 {
  font-size: clamp(40px, 6vw, 5vw);
  background: linear-gradient(
    45deg,
    var(--main-gradient-first),
    var(--main-gradient-second)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home-details h1 .span2 {
  margin-left: 1.2rem;
  font-size: clamp(40px, 6vw, 5vw);
  font-weight: 900;
  color: transparent;
  -webkit-text-stroke: 0.15rem var(--main-color);
}

/* .home-details h1 .span2::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 0.2rem solid var(--main-color);
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
} */

.home-details .name {
  display: inline-block;
  font-size: clamp(20px, 10vw, 2.2vw);
  margin-top: -1rem;
  font-family: "Akaya Kanadaka", system-ui;
  letter-spacing: 0.7rem;
  padding: 0;
  margin: 0;
  color: var(--white-color);
}
/* 
.home-details h2 {
  display: inline-block;
  font-size: 3.2rem;
  margin-top: -1rem;
}

.home-details h2 span {
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: 0.07rem var(--main-color);
  animation: display-text 12s linear infinite;
  animation-delay: calc(-3s * var(--i));
}

@keyframes display-text {
  25%,
  100% {
    display: none;
  }
}

.home-details h2 span::before {
  content: attr(data-text);
  position: absolute;
  width: 0;
  border-right: 0.2rem solid var(--main-color);
  color: var(--main-color);
  white-space: nowrap;
  overflow: hidden;
  animation: fill-text 4s linear infinite;
}

@keyframes fill-text {
  10%,
  100% {
    width: 0;
  }
  70%,
  90% {
    width: 100%;
  }
} */

.home-details p {
  font-size: clamp(13px, 10vw, 1.1vw);
  margin: 1rem 0 2.5rem;
  background: linear-gradient(
    45deg,
    var(--main-gradient-second),
    var(--main-gradient-third)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0.1rem;
}

.home-details .btn-sci {
  display: flex;
  align-items: center;
  margin-top: 2vw;
}

.btn {
  display: inline-block;
  padding: 0.7vw 1.6vw;
  background: linear-gradient(
    45deg,
    var(--main-gradient-first),
    var(--main-gradient-second)
  );
  border: 0.1rem solid var(--main-gradient-second);
  border-radius: 4rem;
  /* box-shadow: 0 0 0.5rem var(--main-color); */
  font-size: 1.2vw;
  color: var(--bg-color);
  font-weight: 500;
  letter-spacing: 0.2rem;
  transition: 1s;
}

.btn:hover {
  background: transparent;
  background: linear-gradient(
    45deg,
    var(--main-gradient-first),
    var(--main-gradient-second)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  box-shadow: none;
  border-color: var(--main-gradient-first);
}

.home-details .btn-sci .sci {
  margin-left: 1.5rem;
}

.home-details .btn-sci .sci a {
  display: inline-flex;
  padding: 0.8vw;
  border: 0.1rem solid var(--main-color);
  border-radius: 50%;
  font-size: 1.5vw;
  background: linear-gradient(
    45deg,
    var(--main-gradient-first),
    var(--main-gradient-second)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0 0.4vw;
  transition: 0.7s;
}

.home-details .btn-sci .sci a:hover {
  background-color: var(--main-color);
  color: var(--bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  transform: scale(1.1);
}

.home-img .img-box {
  position: relative;
  width: 20vw;
  height: 24vw;
  rotate: 3deg;
  border-radius: 10%;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.home-img .img-box::before,
.home-img .img-box::after {
  content: "";
  position: absolute;
  width: 50rem;
  height: 50rem;
  background: conic-gradient(
    transparent,
    transparent,
    transparent,
    var(--main-gradient-second)
  );
  transform: rotate(0deg);
  animation: rotate-border 10s linear infinite;
}

.home-img .img-box::after {
  animation-delay: -5s;
}

@keyframes rotate-border {
  100% {
    transform: rotate(360deg);
  }
}

.home-img .img-box .img-item {
  position: relative;
  width: 100%;
  height: 100%;
  background: #0b0511;
  border-radius: 10%;
  border: 0.01rem solid var(--bg-color);
  display: flex;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

.home-img .img-box .img-item img {
  position: absolute;
  top: 0vw;
  display: block;
  width: 85%;
  object-fit: cover;
  mix-blend-mode: lighten;
}

.home-end {
  width: 100%;
  position: absolute;
  top: 78vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4.5vw;
  margin-bottom: 1vw;
  padding: 0 9%;
}

.home-end .details {
  width: 20%;
  height: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vw;
  background: #0b0511;
  padding: 1vw 3vw;
  box-shadow: 0 0 1rem var(--main-color);
  border-radius: 15px;
  /* margin-bottom: 10rem; */
  transition: transform 0.7s ease-in-out;
}

.home-end .details:hover {
  transform: scale(1.05) rotate(3deg);
}

.home-end .details div {
  /* font-size: 3.5vw; */
  font-size: clamp(22px, 6vw, 3.4vw);
  font-weight: bold;
  color: var(--white-color);
}

.home-end .details p {
  /* font-size: 1.1vw; */
  font-size: clamp(12px, 10vw, 1.1vw);
  color: var(--main-gradient-second);
}

.about-section {
  padding: 2rem 9% 0rem;
  min-height: 95vh;
}

.about-section .about h1 {
  font-size: clamp(30px, 6vw, 4vw);
  text-align: center;
  margin-bottom: 2rem;
  background: linear-gradient(
    45deg,
    var(--main-gradient-first),
    var(--main-gradient-third)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .about-content {
  height: 70vh;
  display: flex;
  gap: 2rem;
}

.about .about-content .content {
  flex: 1;
  width: 100%;
  padding: 1.5rem 2.5rem;
  /* background: #0b0511; */
  /* border-radius: 10px;
  box-shadow: 0 0 1rem var(--main-color); */
}

.about .about-content .content-first {
  flex: 1;
  width: 100%;
  height: 100%;
}

.about .about-content .content-first p {
  padding-right: 1rem;
}

.about .about-content .content-first p span{
  padding-right: 30rem;
}

.about .about-content .content-second {
  flex: 1;
  text-align: end;
  z-index: 1;
  display: flex;
  justify-content: end;
}

.about .about-content .content-second p {
  position: relative;
  top: 15rem;
  width: 60%;
}

.about .about-content .content-img {
  flex: 2;
  position: absolute;
  top: 120vh;
  left: 30vw;
  width: 37vw;
  object-fit: cover;
  justify-self: center;
  align-self: flex-end;
}

.about .about-content .content-img img {
  width: 100%;
  height: auto;
}
.about .about-content .content h2 {
  font-family: "Akaya Kanadaka", system-ui;
  letter-spacing: 0.4rem;
  font-size: clamp(20px, 10vw, 2vw);
  font-style: italic;
  background: linear-gradient(
      45deg,
      var(--main-gradient-first),
      var(--main-gradient-second),
      var(--main-color)
    ) -100%/ 200%;
  /* background: linear-gradient(90deg, #00f, #0ff, #00f) -100%/ 200%; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shimmer 3s linear infinite;
}

@keyframes shimmer {
  to {
    background-position: 100%;
  }
}

.about .about-content .content p {
  font-size: clamp(13px, 10vw, 0.9vw);
  margin: 1rem 0 2.5rem;
  color: var(--main-gradient-second);
  letter-spacing: 0.1rem;
  animation: shimmer 3s linear infinite;
}

@media (max-width: 1200px) {
  .home {
    gap: 3rem;
  }
  .home-img .img-box {
    width: 26vw;
    height: 30vw;
  }
  .home-details .btn-sci .sci a {
    font-size: 2.4vw;
  }
  .home-details h1 .span2 {
    margin-left: 0;
  }
}

@media (max-width: 954px) {
  header {
    padding-right: 20px;
  }
  nav {
    justify-self: end;
    align-self: flex-end;
  }
  .home-details,
  .home-img {
    top: -11vh;
  }
  .home-img .img-box {
    width: 250px;
    height: 300px;
  }
  .btn {
    font-size: 1.5vw;
  }
  .home-details .btn-sci .sci a {
    font-size: 20px;
  }
  .home-end {
    top: 72vh;
  }
}

@media (max-width: 800px) {
  .home-end {
    padding: 0 5%;
  }
  .home-end div {
    line-height: 1.7rem;
    font-size: 32px !important;
  }
}

@media (max-width: 774px) {
  .menu-icon {
    display: block;
    position: absolute;
    right: 32px;
    z-index: 1001;
  }
  .nav-links {
    position: fixed;
    top: -30vh;
    right: 0%;
    height: 30vh;
    width: 100%;
    background: rgba(251, 250, 250, 0.009);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: space-around;
    padding: 2rem 5%;
    transition: top 0.9s ease;
    z-index: 100;
  }

  #menu-toggle:checked ~ .nav-links {
    top: 0;
  }

  .home {
    background: radial-gradient(
        circle at 96% 8%,
        rgba(94, 51, 179, 0.8) 0%,
        rgba(94, 51, 179, 0.8) 1%,
        rgba(94, 51, 179, 0.7) 2%,
        rgba(94, 51, 179, 0.6) 3%,
        rgba(94, 51, 179, 0.5) 4%,
        rgba(94, 51, 179, 0.4) 5%,
        rgba(94, 51, 179, 0.3) 6%,
        rgba(94, 51, 179, 0.2) 7%,
        rgba(94, 51, 179, 0.1) 8%,
        rgba(94, 51, 179, 0.05) 9%,
        rgba(94, 51, 179, 0.01) 10%,
        rgba(94, 51, 179, 0) 11%
      ),
      radial-gradient(
        circle at 60% 59%,
        rgba(94, 51, 179, 0.8) 0%,
        rgba(94, 51, 179, 0.8) 1%,
        rgba(94, 51, 179, 0.7) 2%,
        rgba(94, 51, 179, 0.6) 3%,
        rgba(94, 51, 179, 0.5) 4%,
        rgba(94, 51, 179, 0.4) 5%,
        rgba(94, 51, 179, 0.3) 6%,
        rgba(94, 51, 179, 0.2) 7%,
        rgba(94, 51, 179, 0.1) 8%,
        rgba(94, 51, 179, 0.05) 9%,
        rgba(94, 51, 179, 0.01) 10%,
        rgba(94, 51, 179, 0) 11%
      ),
      radial-gradient(
        circle at 50% 86%,
        rgba(94, 51, 179, 0.8) 0%,
        rgba(94, 51, 179, 0.8) 1%,
        rgba(94, 51, 179, 0.7) 2%,
        rgba(94, 51, 179, 0.6) 3%,
        rgba(94, 51, 179, 0.5) 4%,
        rgba(94, 51, 179, 0.4) 5%,
        rgba(94, 51, 179, 0.3) 6%,
        rgba(94, 51, 179, 0.2) 7%,
        rgba(94, 51, 179, 0.1) 8%,
        rgba(94, 51, 179, 0.05) 9%,
        rgba(94, 51, 179, 0.01) 10%,
        rgba(94, 51, 179, 0) 11%
      );
  }
  .home-end {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2vw;
    margin-bottom: 0;
    height: auto;
    padding: 0 10rem;
  }

  .home-end .details {
    width: 100%;
    padding: 2vw 6vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .home-end .details div {
  }
}

@media (max-width: 678px) {
  .home-details,
  .home-img {
    top: -8vh;
  }

  .home-end {
    top: 78vh;
  }
}

@media (max-width: 640px) {
  .home {
    padding: 0 5%;
  }
  .home-end {
    top: 75vh;
    padding: 0 8rem;
  }
}

@media (max-width: 564px) {
  .home {
    gap: 2rem;
    background: radial-gradient(
        circle at 96% 8%,
        rgba(94, 51, 179, 0.8) 0%,
        rgba(94, 51, 179, 0.8) 1%,
        rgba(94, 51, 179, 0.7) 2%,
        rgba(94, 51, 179, 0.6) 3%,
        rgba(94, 51, 179, 0.5) 4%,
        rgba(94, 51, 179, 0.4) 5%,
        rgba(94, 51, 179, 0.3) 6%,
        rgba(94, 51, 179, 0.2) 7%,
        rgba(94, 51, 179, 0.1) 8%,
        rgba(94, 51, 179, 0.05) 9%,
        rgba(94, 51, 179, 0.01) 10%,
        rgba(94, 51, 179, 0) 11%
      ),
      radial-gradient(
        circle at 53% 61%,
        rgba(94, 51, 179, 0.8) 0%,
        rgba(94, 51, 179, 0.8) 1%,
        rgba(94, 51, 179, 0.7) 2%,
        rgba(94, 51, 179, 0.6) 3%,
        rgba(94, 51, 179, 0.5) 4%,
        rgba(94, 51, 179, 0.4) 5%,
        rgba(94, 51, 179, 0.3) 6%,
        rgba(94, 51, 179, 0.2) 7%,
        rgba(94, 51, 179, 0.1) 8%,
        rgba(94, 51, 179, 0.05) 9%,
        rgba(94, 51, 179, 0.01) 10%,
        rgba(94, 51, 179, 0) 11%
      ),
      radial-gradient(
        circle at 50% 90%,
        rgba(94, 51, 179, 0.8) 0%,
        rgba(94, 51, 179, 0.8) 1%,
        rgba(94, 51, 179, 0.7) 2%,
        rgba(94, 51, 179, 0.6) 3%,
        rgba(94, 51, 179, 0.5) 4%,
        rgba(94, 51, 179, 0.4) 5%,
        rgba(94, 51, 179, 0.3) 6%,
        rgba(94, 51, 179, 0.2) 7%,
        rgba(94, 51, 179, 0.1) 8%,
        rgba(94, 51, 179, 0.05) 9%,
        rgba(94, 51, 179, 0.01) 10%,
        rgba(94, 51, 179, 0) 11%
      );
  }

  .home-img .img-box {
    width: 220px;
    height: 250px;
  }

  .btn-sci .btn {
    /* height: 4rem;
    width: 4rem; */
    /* border-radius: 10%; */
  }
  .home-end {
    top: 77vh;
    padding: 0 4rem;
  }
}

@media (max-width: 564px) {
  .home {
    flex-direction: column-reverse;
    /* padding-bottom: 20vh; */
    /* overflow: hidden  ; */
    min-height: 110vh;
    background: radial-gradient(
        circle at 96% 5%,
        rgba(94, 51, 179, 0.8) 0%,
        rgba(94, 51, 179, 0.8) 1%,
        rgba(94, 51, 179, 0.7) 2%,
        rgba(94, 51, 179, 0.6) 3%,
        rgba(94, 51, 179, 0.5) 4%,
        rgba(94, 51, 179, 0.4) 5%,
        rgba(94, 51, 179, 0.3) 6%,
        rgba(94, 51, 179, 0.2) 7%,
        rgba(94, 51, 179, 0.1) 8%,
        rgba(94, 51, 179, 0.05) 9%,
        rgba(94, 51, 179, 0.01) 10%,
        rgba(94, 51, 179, 0) 11%
      ),
      radial-gradient(
        circle at 23% 53%,
        rgba(94, 51, 179, 0.8) 0%,
        rgba(94, 51, 179, 0.8) 1%,
        rgba(94, 51, 179, 0.7) 2%,
        rgba(94, 51, 179, 0.6) 3%,
        rgba(94, 51, 179, 0.5) 4%,
        rgba(94, 51, 179, 0.4) 5%,
        rgba(94, 51, 179, 0.3) 6%,
        rgba(94, 51, 179, 0.2) 7%,
        rgba(94, 51, 179, 0.1) 8%,
        rgba(94, 51, 179, 0.05) 9%,
        rgba(94, 51, 179, 0.01) 10%,
        rgba(94, 51, 179, 0) 11%
      ),
      radial-gradient(
        circle at 45% 80%,
        rgba(94, 51, 179, 0.8) 0%,
        rgba(94, 51, 179, 0.8) 1%,
        rgba(94, 51, 179, 0.7) 2%,
        rgba(94, 51, 179, 0.6) 3%,
        rgba(94, 51, 179, 0.5) 4%,
        rgba(94, 51, 179, 0.4) 5%,
        rgba(94, 51, 179, 0.3) 6%,
        rgba(94, 51, 179, 0.2) 7%,
        rgba(94, 51, 179, 0.1) 8%,
        rgba(94, 51, 179, 0.05) 9%,
        rgba(94, 51, 179, 0.01) 10%,
        rgba(94, 51, 179, 0) 11%
      );
  }
  .home-details {
    width: 100%;
    text-align: center;
    /* padding-bottom: 20vh; */
    top: -7vw;
  }
  .home-img .img-box {
    width: 300px;
    height: 350px;
    top: 2vh;
  }
  .home-end {
    top: 106vh;
    padding: 1rem 4rem 3rem 4rem;
    background-color: var(--bg-color) !important;
    background: radial-gradient(
      circle at 48% 44%,
      rgba(94, 51, 179, 0.8) 0%,
      rgba(94, 51, 179, 0.8) 1%,
      rgba(94, 51, 179, 0.7) 2%,
      rgba(94, 51, 179, 0.6) 3%,
      rgba(94, 51, 179, 0.5) 4%,
      rgba(94, 51, 179, 0.4) 5%,
      rgba(94, 51, 179, 0.3) 6%,
      rgba(94, 51, 179, 0.2) 7%,
      rgba(94, 51, 179, 0.1) 8%,
      rgba(94, 51, 179, 0.05) 9%,
      rgba(94, 51, 179, 0.01) 10%,
      rgba(94, 51, 179, 0) 11%
    );
  }

  .home-details .btn-sci {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  .btn {
    padding: 1vw 2vw;
    font-size: 1.4rem;
  }

  .home-details .btn-sci .sci a {
    padding: 0.8vw;
    font-size: 2.5rem;
    margin-left: 1vw;
  }

  .about {
    position: absolute;
    top: 128vh;
    padding-top: 4rem;
  }
}

@media (max-width: 480px) {
  .home {
    min-height: 100vh;
  }
  .home-details {
    top: -4vh;
  }
  .home-details h1 .span1 {
    font-size: clamp(34px, 6vw, 4vw);
  }
  .home-details h1 .span2 {
    font-size: clamp(34px, 6vw, 4vw);
    margin-left: 0;
  }
  .home-details p {
    font-size: clamp(12px, 10vw, 1.2vw);
  }
  .home-img .img-box {
    width: 280px;
    height: 330px;
    top: 5vh;
  }

  .home-end {
    top: 100vh;
  }

  .about {
    position: absolute;
    top: 120vh;
    padding-top: 4rem;
  }
}

@media (max-width: 430px) {
  .home {
    min-height: 100vh;
    padding-bottom: 4vh;
  }
  .home-details {
    top: 4vh;
  }
  .home-img .img-box {
    width: 280px;
    height: 330px;
    top: 12vh;
  }
}

@media (max-width: 406px) {
  .home {
    min-height: 110vh;
    padding-bottom: 6vh;
  }
  .home-details {
    top: 2vh;
  }

  .home-details .name {
    width: 100%;
    text-align: start;
    padding: 0.3rem 1.3rem;
  }
  .home-details h1 {
    text-align: start;
    padding: 0 1rem;
    line-height: 3.5rem;
  }

  .home-details h1 .span1 {
    font-size: clamp(40px, 1vw, 4vw);
    /* text-decoration: underline; */
  }
  .home-details h1 .span2 {
    position: relative;
    left: 30vw;
    font-size: clamp(40px, 2vw, 4vw);
    text-decoration: underline;
  }
  .home-img .img-box {
    width: 280px;
    height: 330px;
    top: 10vh;
  }
  .home-end {
    top: 110vh;
  }
  .about {
    top: 130vh;
  }
  .home-details .btn-sci .sci a {
    padding: 1.5vw;
    font-size: 2.5rem;
  }
}

@media (max-width: 374px) {
  .home {
    min-height: 112vh;
    padding-bottom: 6vh;
  }
}

@media (max-width: 360px) {
  .home-details h1 .span2 {
    left: 26vw;
  }
  .home-img .img-box {
    top: 12vh;
  }
}

@media (max-width: 325px) {
  .home-details h1 {
    text-align: center;
    padding: 0;
  }
  .home-details .name {
    text-align: center;
    padding-bottom: 1rem;
  }
  .home-details h1 .span1 {
    letter-spacing: 0.6rem;
  }
  .home-details h1 .span2 {
    left: 0;
    margin-left: 0;
    letter-spacing: 0.4rem;
  }

  .home-end {
    /* padding: 0 2rem; */
    display: flex;
  }
  .home-end .details {
    padding: 1.5rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .about {
    top: 155vh;
  }
}
